<div class="page-footer text-muted navbar-fixed-bottom">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span>© 2020 Tessi - All rights reserved | </span> <a href="https://www.tessi.eu/fr/" target="_blank" rel="noopener noreferrer">Tessi</a> | <a
      href="https://www.tessi.eu/fr/mentions-legales/" target="_blank" rel="noopener noreferrer"> {{'com.owliance.owlink.mentionLegale' | translate }} </a>
    </div>

    <div class="col-xs-6 col-sm-6 text-right hidden-xs">
      <div class="txt-color-darken inline-block">
        <i class="txt-color-blueLight hidden-mobile">Version : <strong> {{appVersion}}&nbsp;</strong>
        </i>
      </div>
    </div>
  </div>
</div>
